POSTGRES_DB=robo
POSTGRES_USER=robo
POSTGRES_PASSWORD=change-this-local-password
SECRET_KEY=generate-a-random-value-at-least-32-characters
DEMO_USER_EMAIL=demo@robo.local
DEMO_USER_PASSWORD=Demo-2026!
DEMO_ADMIN_EMAIL=admin@robo.local
DEMO_ADMIN_PASSWORD=Admin-2026!

